<div class="card flex justify-center">
  <p-autoComplete
    [(ngModel)]="model"
    [dropdown]="true"
    appendTo="body"
    [field]="name"
    [attr.name]="name"
    [suggestions]="data"
    (completeMethod)="search($event)"
    (onSelect)="selected($event)"
    [inputStyle]="{ width: '100%' }"
    [style]="{ width: '100%' }"
    required
  >
    <ng-template *ngIf="itemTemplate" pTemplate="item" let-item>
      <ng-container
        *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"
      ></ng-container>
    </ng-template>
  </p-autoComplete>
</div>
