<p-dialog
  header="New property"
  [(visible)]="visible"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '700px' }"
>
  <form (ngSubmit)="onSubmit(propertyForm)" #propertyForm="ngForm">
    <div class="input-group-container">
      <div class="input-container">
        <label for="propertyName">Property name</label>
        <input
          id="propertyName"
          type="text"
          pInputText
          [(ngModel)]="property.propertyName"
          name="propertyName"
        />
      </div>

      <div class="input-container">
        <label for="street">Street</label>
        <app-address-search
          [oldAddress]="property.address.street"
          (addressSelected)="onAddressChosen($event)"
          [style]="{ width: '70%' }"
        />
      </div>

      <div class="input-container">
        <label for="houseNumber">House number</label>
        <input
          id="houseNumber"
          type="text"
          pInputText
          [(ngModel)]="property.address.houseNumber"
          name="houseNumber"
          required
        />
      </div>

      <div class="input-container">
        <label for="postcode">Postcode</label>
        <input
          id="postcode"
          type="text"
          pInputText
          [(ngModel)]="property.address.postcode"
          name="postcode"
          required
        />
      </div>

      <div class="input-container">
        <label for="city">City</label>
        <input
          id="city"
          type="text"
          pInputText
          [(ngModel)]="property.address.city"
          name="city"
          required
        />
      </div>

      <div class="input-container">
        <label for="unit">Unit</label>
        <input
          id="unit"
          type="text"
          pInputText
          [(ngModel)]="property.unit"
          name="unit"
        />
      </div>

      <div class="input-container">
        <label for="area">Area</label>
        <input
          id="area"
          type="number"
          pInputText
          [(ngModel)]="property.area"
          name="area"
          required
        />
      </div>

      <div class="input-container">
        <label for="buildYear">Build year</label>
        <input
          id="buildYear"
          type="number"
          pInputText
          [(ngModel)]="property.buildYear"
          name="buildYear"
          required
        />
      </div>

      <div class="input-container">
        <label for="status">Status</label>
        <app-basis-combos [suggestions]="statuses" name="status" />
      </div>
    </div>

    <div class="button-container">
      <button
        pButton
        type="button"
        label="Cancel"
        icon="pi pi-times"
        class="p-button-secondary"
        (click)="onCancel(propertyForm)"
      ></button>

      <button
        pButton
        type="submit"
        label="Save"
        icon="pi pi-save"
        [disabled]="!propertyForm.form.valid"
      ></button>
    </div>
  </form>
</p-dialog>
