<div class="search-center">
  <p-inputgroup class="w-full">
    <input
      pInputText
      placeholder="Please enter a street name"
      [formControl]="searchControl"
      (focus)="onInputFocus()"
      (blur)="onInputBlur()"
      class="w-full"
    />
  </p-inputgroup>

  <div class="search-results-panel">
    <p-panel
      *ngIf="showResultsPanel && (addressesForInput$ | async) as addresses"
      header="Search Results"
      [toggleable]="true"
      class="mt-2 w-full absolute z-100"
      styleClass="w-full max-h-30rem overflow-auto"
    >
      <ng-container *ngIf="addresses.length > 0">
        <p-listbox
          [options]="addresses"
          optionLabel="street"
          (onChange)="onAddressSelect($event.value)"
          [style]="{ width: '100%' }"
        >
          <ng-template let-addr pTemplate="item">
            <div class="flex flex-col">
              <span
                ><i class="pi pi-map-marker mr-2"></i> {{ addr.street }}
                {{ addr.houseNumber }}, {{ addr.postcode }},
                {{ addr.city }}</span
              >
              <!-- <small class="text-gray-500"
                >{{ addr.postcode }} {{ addr.city }}</small
              > -->
              <!-- <span>{{ addr.street }}, {{ addr.houseNumber }}</span> -->
            </div>
          </ng-template>
        </p-listbox>
      </ng-container>
    </p-panel>
  </div>
</div>
