.search-center {
  position: relative;
  width: 100%;

  .search-results-panel {
    position: relative;
    min-height: 0; /* 防止面板撑开容器 */
  }

  .search-results-panel ::ng-deep .p-panel {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    margin-top: 0.5rem;
  }
}
