<div class="search-center">
  <p-inputgroup class="w-full">
    <input
      pInputText
      placeholder="Please enter a street name"
      [formControl]="searchControl"
      (focus)="onInputFocus()"
      (blur)="onInputBlur()"
      class="w-full"
    />
  </p-inputgroup>

  <div class="search-results-panel" *ngIf="showResultsPanel">
    <p-panel
      header="Search Results"
      [toggleable]="false"
      [style]="{ width: '100%' }"
      styleClass="results-panel"
    >
      <p-listbox
        [options]="addresses"
        optionLabel="street"
        (onChange)="onAddressSelect($event.value)"
        [style]="{ width: '100%' }"
      >
        <ng-template let-addr pTemplate="item">
          <div class="flex flex-col">
            <span
              ><i class="pi pi-map-marker mr-2"></i> {{ addr.street }}
              {{ addr.houseNumber }}, {{ addr.postcode }}, {{ addr.city }}</span
            >
          </div>
        </ng-template>
      </p-listbox>
    </p-panel>
  </div>
</div>
