<div class="card flex justify-center">
  <p-autocomplete
    name="status"
    [(ngModel)]="selectedStatus"
    [suggestions]="filteredStatuses"
    (completeMethod)="filterStatus($event)"
    [dropdown]="true"
    field="label"
    [forceSelection]="true"
    placeholder="Select status"
    [inputStyle]="{ width: '100%' }"
  >
    <ng-template let-status pTemplate="item">
      <div class="flex align-items-center gap-2">
        <p-tag
          [severity]="status.severity"
          [value]="status.label"
          styleClass="d-block w-100"
        ></p-tag>
      </div>
    </ng-template>
  </p-autocomplete>
</div>
