<div class="property-record-container">
  <div class="title-container">
    <button pButton label="New property record" (click)="openDialog()"></button>

    <app-create-property-record
      [visible]="openCreateDialog"
      (closeDialog)="openCreateDialog = false"
    ></app-create-property-record>
  </div>

  <div class="table-container">
    <p-table
      [value]="(propertyRecords$ | async) ?? []"
      dataKey="contactId"
      [rows]="10"
      editMode="row"
      [rowsPerPageOptions]="[5, 10, 15]"
      [loading]="loading"
      [paginator]="true"
      [tableStyle]="{ width: '100%' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>
            Property
            <p-columnFilter type="text" field="propertyId" display="menu" />
          </th>
          <th>
            Created at<p-columnFilter
              type="text"
              field="createdAt"
              display="menu"
            />
          </th>
          <th>
            Contact<p-columnFilter
              type="text"
              field="contactId"
              display="menu"
            />
          </th>
          <th>
            Role<p-columnFilter type="text" field="role" display="menu" />
          </th>
          <th>
            Start at<p-columnFilter
              type="text"
              field="startAt"
              display="menu"
            />
          </th>
          <th>
            End at<p-columnFilter type="text" field="endAt" display="menu" />
          </th>
          <th>Notes</th>
          <th>Edit</th>
        </tr>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-propertyRecord
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr [pEditableRow]="propertyRecord">
          <td>
            <p-cellEditor>
              <ng-template #input>
                <app-search-property [current]="propertyRecord.propertyId" />
              </ng-template>
              <ng-template #output>
                <p-avatar icon="pi pi-home" class="flex mr-2" />
                {{ propertyRecord.propertyId }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <p-datepicker
                  [(ngModel)]="propertyRecord.createdAt"
                  [showIcon]="true"
                  inputId="buttondisplay"
                  [showOnFocus]="false"
                  appendTo="body"
                  [panelStyle]="{ 'z-index': 1000 }"
                  dateFormat="dd.mm.yy"
                  name="createdAt"
                />
              </ng-template>
              <ng-template #output>
                {{ propertyRecord.createdAt | date : defaultDateForm }}
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <p-cellEditor>
              <ng-template #input>
                <app-search-contacts [current]="propertyRecord.contactId" />
              </ng-template>
              <ng-template #output>
                {{ propertyRecord.contactId }}
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <p-cellEditor>
              <ng-template #input>
                <app-basis-combos
                  [suggestions]="statuses"
                  [current]="propertyRecord.status"
                />
              </ng-template>
              <ng-template #output>
                <p-tag
                  [value]="getStatusTag(propertyRecord.role).label"
                  [severity]="getStatusTag(propertyRecord.role).severity"
                />
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <p-cellEditor>
              <ng-template #input>
                <p-datepicker
                  [(ngModel)]="propertyRecord.startAt"
                  [showIcon]="true"
                  inputId="buttondisplay"
                  [showOnFocus]="false"
                  appendTo="body"
                  [panelStyle]="{ 'z-index': 1000 }"
                  dateFormat="dd.mm.yy"
                  name="startAt"
                />
              </ng-template>
              <ng-template #output>
                {{ propertyRecord.startAt | date : defaultDateForm }}
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <p-cellEditor>
              <ng-template #input>
                <p-datepicker
                  [(ngModel)]="propertyRecord.endAt"
                  [showIcon]="true"
                  inputId="buttondisplay"
                  [showOnFocus]="false"
                  appendTo="body"
                  [panelStyle]="{ 'z-index': 1000 }"
                  dateFormat="dd.mm.yy"
                  name="endAt"
                />
              </ng-template>
              <ng-template #output>
                {{ propertyRecord.endAt | date : defaultDateForm }}
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <p-cellEditor>
              <ng-template #input>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="propertyRecord.notes"
                />
              </ng-template>
              <ng-template #output>
                {{ propertyRecord.notes }}
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <div class="flex items-center justify-center gap-2">
              <button
                *ngIf="!editing"
                pButton
                pRipple
                type="button"
                pInitEditableRow
                icon="pi pi-pencil"
                (click)="onRowEditInit()"
                text
                rounded
                severity="secondary"
              ></button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pSaveEditableRow
                icon="pi pi-check"
                (click)="onRowEditSave(propertyRecord)"
                text
                rounded
                severity="secondary"
              ></button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pCancelEditableRow
                icon="pi pi-times"
                (click)="onRowEditCancel()"
                text
                rounded
                severity="secondary"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template #emptyMessage>
        <tr>
          <td colspan="5">Property record not found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
