<div class="property-record-container">
  <div class="title-container">
    <button pButton label="New property record" (click)="openDialog()"></button>

    <app-create-property-record
      [visible]="openCreateDialog"
      (closeDialog)="openCreateDialog = false"
    ></app-create-property-record>
  </div>

  <div class="table-container">
    <p-table
      [value]="(dataPlusPropertyAndContact$ | async) || []"
      dataKey="propertyRecordId"
      [rows]="10"
      editMode="row"
      [scrollable]="true"
      scrollHeight="90vh"
      [rowsPerPageOptions]="[5, 10, 15]"
      [paginator]="true"
      [tableStyle]="{ width: '100%' }"
    >
      <ng-template #header>
        <tr>
          <th style="width: 20%">
            Property
            <p-columnFilter
              type="text"
              field="propertyRecordId"
              display="menu"
            />
          </th>
          <th style="width: 10%">
            Contact<p-columnFilter
              type="text"
              field="contactId"
              display="menu"
            />
          </th>
          <th style="width: 5%">
            Role<p-columnFilter type="text" field="role" display="menu" />
          </th>
          <th style="width: 12%">
            Created at<p-columnFilter
              type="text"
              field="createdAt"
              display="menu"
            />
          </th>
          <th style="width: 12%">
            Start at<p-columnFilter
              type="text"
              field="startAt"
              display="menu"
            />
          </th>
          <th style="width: 12%">
            End at<p-columnFilter type="text" field="endAt" display="menu" />
          </th>
          <th style="width: 27%">Notes</th>
          <th style="width: 2%">Edit</th>
        </tr>
      </ng-template>

      <ng-template #body let-propertyRecord let-ri="rowIndex">
        <tr [pEditableRow]="propertyRecord">
          <td>
            <p-cellEditor>
              <ng-template #input>
                <app-search-property
                  [property]="propertyRecord.property"
                  (selectedProperty)="propertySelected($event, propertyRecord)"
                  name="propertyId"
                />
              </ng-template>
              <ng-template #output>
                <div class="avatar-container">
                  <p-avatar
                    icon="pi pi-home"
                    class="w-[15px] mr-[5px]"
                  ></p-avatar>
                  <span>{{ propertyRecord.property.propertyName }}</span>
                </div>
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <p-cellEditor>
              <ng-template #input>
                <app-search-contacts
                  [contact]="propertyRecord.contact"
                  (selectedContact)="contactSelected($event, propertyRecord)"
                  name="contact"
                />
              </ng-template>
              <ng-template #output>
                {{ propertyRecord.contact.lastname }},
                {{ propertyRecord.contact.firstname }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <app-basis-combos
                  [suggestions]="statuses"
                  [current]="propertyRecord.role"
                  name="role"
                />
              </ng-template>
              <ng-template #output>
                <p-tag
                  [value]="getStatusTag(propertyRecord.role).label"
                  [severity]="getStatusTag(propertyRecord.role).severity"
                />
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <p-cellEditor>
              <ng-template #input>
                <p-datepicker
                  [(ngModel)]="propertyRecord.createdAt"
                  [showIcon]="true"
                  inputId="createdAt"
                  [showOnFocus]="false"
                  appendTo="body"
                  [panelStyle]="{ 'z-index': 1000 }"
                  dateFormat="dd.mm.yy"
                  name="createdAt"
                />
              </ng-template>
              <ng-template #output>
                {{ propertyRecord.createdAt | date : defaultDateForm }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <p-datepicker
                  [(ngModel)]="propertyRecord.startAt"
                  [showIcon]="true"
                  inputId="startAt"
                  [showOnFocus]="false"
                  appendTo="body"
                  [panelStyle]="{ 'z-index': 1000 }"
                  dateFormat="dd.mm.yy"
                  name="startAt"
                />
              </ng-template>
              <ng-template #output>
                {{ propertyRecord.startAt | date : defaultDateForm }}
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <p-cellEditor>
              <ng-template #input>
                <p-datepicker
                  [(ngModel)]="propertyRecord.endAt"
                  [showIcon]="true"
                  inputId="endAt"
                  [showOnFocus]="false"
                  appendTo="body"
                  [panelStyle]="{ 'z-index': 1000 }"
                  dateFormat="dd.mm.yy"
                  name="endAt"
                />
              </ng-template>
              <ng-template #output>
                {{ propertyRecord.endAt | date : defaultDateForm }}
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <p-cellEditor>
              <ng-template #input>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="propertyRecord.notes"
                />
              </ng-template>
              <ng-template #output>
                {{ propertyRecord.notes }}
              </ng-template>
            </p-cellEditor>
          </td>

          <td>
            <div class="flex items-center justify-center gap-2">
              <button
                *ngIf="
                  propertyRecord.propertyRecordId !== currentPropertyRecordId
                "
                pButton
                pRipple
                type="button"
                pInitEditableRow
                icon="pi pi-pencil"
                (click)="onRowEditInit(propertyRecord)"
                text
                rounded
                severity="secondary"
              ></button>
              <button
                *ngIf="
                  propertyRecord.propertyRecordId === currentPropertyRecordId
                "
                pButton
                pRipple
                type="button"
                icon="pi pi-check"
                (click)="onRowEditSave(propertyRecord)"
                text
                rounded
                severity="secondary"
              ></button>
              <button
                *ngIf="
                  propertyRecord.propertyRecordId === currentPropertyRecordId
                "
                pButton
                pRipple
                type="button"
                pCancelEditableRow
                icon="pi pi-times"
                (click)="onRowEditCancel()"
                text
                rounded
                severity="secondary"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template #emptyMessage>
        <tr>
          <td colspan="5">Property record not found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
