<p-dialog
  header="New property record"
  [(visible)]="visible"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '470px' }"
>
  <form (ngSubmit)="onSubmit(propertyRecordForm)" #propertyRecordForm="ngForm">
    <div class="input-group-container">
      <div class="input-container">
        <label for="propertyId">Property name</label>
        <app-search-property
          (selectedProperty)="handlePropertySelected($event)"
          name="propertyId"
        />
      </div>

      <div class="input-container">
        <label for="contactId">Contact email</label>
        <app-search-contacts
          (selectedContact)="handleContactSelected($event)"
        />
      </div>

      <div class="input-container">
        <label for="role">Role</label>
        <p-autoComplete
          [(ngModel)]="propertyRecord.role"
          [suggestions]="roles"
          (completeMethod)="filterRoles($event)"
          [dropdown]="true"
          [forceSelection]="true"
          placeholder="Select roles"
          required
          name="role"
        >
        </p-autoComplete>
      </div>

      <div class="input-container">
        <label for="startAt">Start at</label>
        <p-datepicker
          [(ngModel)]="propertyRecord.startAt"
          [showIcon]="true"
          inputId="startAt"
          [showOnFocus]="false"
          appendTo="body"
          [panelStyle]="{ 'z-index': 1000 }"
          dateFormat="dd.mm.yy"
          (onSelect)="onStartDateSelect($event)"
          name="startAt"
        />
      </div>

      <div class="input-container">
        <label for="endAt">End at</label>
        <p-datepicker
          [(ngModel)]="propertyRecord.endAt"
          [showIcon]="true"
          inputId="endAt"
          [showOnFocus]="false"
          appendTo="body"
          [panelStyle]="{ 'z-index': 999 }"
          dateFormat="dd.mm.yy"
          [minDate]="propertyRecord.startAt"
          name="endAt"
        />
      </div>

      <div
        class="input-container"
        *ngIf="propertyRecord.role === serviceProvider"
      >
        <label for="notes">Notes</label>
        <textarea
          id="notes"
          pInputTextarea
          [(ngModel)]="propertyRecord.notes"
          name="notes"
          rows="3"
          required
        ></textarea>
      </div>
    </div>

    <div class="button-container">
      <button
        pButton
        type="button"
        label="Cancel"
        icon="pi pi-times"
        class="p-button-secondary"
        (click)="onCancel(propertyRecordForm)"
      ></button>

      <button
        pButton
        type="submit"
        label="Save"
        icon="pi pi-save"
        [disabled]="!propertyRecordForm.form.valid"
      ></button>
    </div>
  </form>
</p-dialog>
