<div class="contact-container">
  <div class="title-container">
    <button
      pButton
      label="New contact"
      (click)="openCreateDialog = true"
    ></button>

    <app-create-contact
      [visible]="openCreateDialog"
      (closeDialog)="openCreateDialog = false"
    ></app-create-contact>
  </div>

  <div class="table-container">
    <p-table
      [value]="(contact$ | async) ?? []"
      dataKey="contactId"
      [rows]="10"
      editMode="row"
      [rowsPerPageOptions]="[10, 20, 50]"
      [loading]="loading"
      [paginator]="true"
      [sortField]="'firstname'"
      [sortOrder]="1"
      [tableStyle]="{ width: '100%' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Avatar</th>
          <th>
            Firstname<p-columnFilter
              type="text"
              field="firstname"
              display="menu"
            />
          </th>
          <th>
            Lastname
            <p-columnFilter type="text" field="lastname" display="menu" />
          </th>
          <th>
            Email
            <p-columnFilter type="text" field="email" display="menu" />
          </th>
          <th>
            Phone
            <p-columnFilter type="text" field="phone" display="menu" />
          </th>
          <th>Notes</th>
          <th>Edit</th>
          <th>Show contacts</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-contact
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr [pEditableRow]="contact">
          <td>
            <p-avatar icon="pi pi-user" class="mr-2" />
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <input pInputText type="text" [(ngModel)]="contact.firstname" />
              </ng-template>
              <ng-template #output>
                {{ contact.firstname }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <input pInputText type="text" [(ngModel)]="contact.lastname" />
              </ng-template>
              <ng-template #output>
                {{ contact.lastname }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <input pInputText type="text" [(ngModel)]="contact.email" />
              </ng-template>
              <ng-template #output>
                {{ contact.email }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <input pInputText type="text" [(ngModel)]="contact.phone" />
              </ng-template>
              <ng-template #output>
                {{ contact.phone }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template #input>
                <input pInputText type="text" [(ngModel)]="contact.notes" />
              </ng-template>
              <ng-template #output>
                {{ contact.notes }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <div class="flex items-center justify-center gap-2">
              <button
                *ngIf="!editing"
                pButton
                pRipple
                type="button"
                pInitEditableRow
                icon="pi pi-pencil"
                (click)="onRowEditInit()"
                text
                rounded
                severity="secondary"
              ></button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pSaveEditableRow
                icon="pi pi-check"
                (click)="onRowEditSave(contact)"
                text
                rounded
                severity="secondary"
              ></button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pCancelEditableRow
                icon="pi pi-times"
                (click)="onRowEditCancel()"
                text
                rounded
                severity="secondary"
              ></button>
              <button
                *ngIf="!editing"
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                (click)="onRowDelete(contact)"
                text
                rounded
                severity="secondary"
              ></button>
            </div>
          </td>
          <td>
            <p-button
              label="Contacts"
              icon="pi pi-table"
              severity="info"
              (click)="openContactsDialog(contact.contactId)"
            />
          </td>
        </tr>
      </ng-template>

      <ng-template #emptyMessage>
        <tr>
          <td colspan="8">Contact not found.</td>
        </tr>
      </ng-template>
    </p-table>

    <app-find-contacts
      *ngIf="currentContactId"
      [visible]="isContactsDialog"
      [contactId]="currentContactId"
      (closeDialog)="closeContactsDialog()"
    />
  </div>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
