<div class="card flex justify-center">
  <p-autoComplete
    [(ngModel)]="value"
    [dropdown]="true"
    appendTo="body"
    field="contactName"
    [attr.name]="name"
    [suggestions]="data"
    (completeMethod)="search($event)"
    (onSelect)="selectContact($event)"
    required
  >
    <!-- <ng-template let-contact pTemplate="item">
      <div>
        {{ contact.firstname }} {{ contact.lastname }} <br />&lt;{{
          contact.email
        }}&gt;
      </div>
    </ng-template> -->
  </p-autoComplete>
</div>
