<app-basis-data-combos
  [inputModel]="contact"
  name="email"
  [data]="data"
  [filterFn]="filterContacts"
  (selectedItem)="selectContact($event)"
>
  <ng-template #item let-item pTemplate="item">
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      "
    >
      <p-avatar icon="pi pi-address-book" class="mr-1" />
      <div>
        {{ item.firstname }} {{ item.lastname }} <br />&lt;{{ item.email }}&gt;
      </div>
    </div>
  </ng-template>
</app-basis-data-combos>
