<div class="property-container">
  <!-- <p-toast /> -->
  <div class="title-container">
    <button
      pButton
      label="New property"
      (click)="openCreateDialog = true"
    ></button>

    <app-create-property
      [visible]="openCreateDialog"
      (closeDialog)="openCreateDialog = false"
    ></app-create-property>
  </div>

  <p-table
    [value]="(properties$ | async) ?? []"
    dataKey="propertyId"
    [rows]="10"
    editMode="row"
    [rowsPerPageOptions]="[5, 10, 15]"
    [loading]="loading"
    [paginator]="true"
    [sortField]="'propertyName'"
    [sortOrder]="1"
    [globalFilterFields]="[
      'propertyName',
      'address.street',
      'address.houseNumber',
      'address.postcode',
      'address.city',
      'unit',
      'area',
      'buildYear',
      'status'
    ]"
    [tableStyle]="{ width: '100%' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3%">Avatar</th>
        <th style="width: 30%">
          <div class="flex items-center">
            Property name
            <p-columnFilter type="text" field="propertyName" display="menu" />
          </div>
        </th>
        <th style="width: 15%">
          <div class="flex items-center">
            Street
            <p-columnFilter type="text" field="street" display="menu" />
          </div>
        </th>
        <th style="width: 5%">
          <div class="flex items-center">House number</div>
        </th>
        <th style="width: 5%">
          <div class="flex items-center">Post code</div>
        </th>
        <th style="width: 10%">
          <div class="flex items-center">City</div>
        </th>
        <th style="width: 12%">
          <div class="flex items-center">Unit</div>
        </th>
        <th style="width: 5%">
          <div class="flex items-center">Area</div>
        </th>
        <th style="width: 5%">
          <div class="flex items-center">Build year</div>
        </th>
        <th style="width: 7%">Status</th>
        <th style="width: 3%">Edit</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-property
      let-editing="editing"
      let-rowIndex="rowIndex"
      style="overflow: auto"
    >
      <tr [pEditableRow]="property">
        <td>
          <p-avatar icon="pi pi-home" class="mr-2" />
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input
                pInputText
                type="text"
                [(ngModel)]="property.propertyName"
                name="propertyName"
              />
            </ng-template>
            <ng-template #output>
              {{ property.propertyName }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <app-address-search
                [oldAddress]="property.address.street"
                (addressSelected)="onAddressChosen($event, property)"
                name="street"
                style="min-width: 200px"
              />
            </ng-template>
            <ng-template #output>
              {{ property.address.street }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input
                pInputText
                type="text"
                [(ngModel)]="property.address.houseNumber"
                name="houseNumber"
              />
            </ng-template>
            <ng-template #output>
              {{ property.address.houseNumber }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input
                pInputText
                type="text"
                [(ngModel)]="property.address.postcode"
                name="postcode"
              />
            </ng-template>
            <ng-template #output>
              {{ property.address.postcode }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input
                pInputText
                type="text"
                [(ngModel)]="property.address.city"
                name="city"
              />
            </ng-template>
            <ng-template #output>
              {{ property.address.city }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input
                pInputText
                type="text"
                [(ngModel)]="property.unit"
                name="unit"
              />
            </ng-template>
            <ng-template #output>
              {{ property.unit }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input
                pInputText
                type="text"
                [(ngModel)]="property.area"
                name="area"
              />
            </ng-template>
            <ng-template #output>
              {{ property.area }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <input
                pInputText
                type="text"
                [(ngModel)]="property.buildYear"
                name="buildYear"
              />
            </ng-template>
            <ng-template #output>
              {{ property.buildYear }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-tag
            [value]="getStatusTag(property.status).label"
            [severity]="getStatusTag(property.status).severity"
          />
        </td>
        <td>
          <div class="flex items-center justify-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(property)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(property)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(property)"
              text
              rounded
              severity="secondary"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptyMessage>
      <tr>
        <td colspan="12">Property not found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
