/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", "Segoe UI", Arial, sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

.p-tag {
  display: block; /* 变为块级元素，默认占满父容器宽度 */
  width: 100%;
  box-sizing: border-box; /* 包含 padding 和 border 在内的宽度计算 */
}

button {
  &:hover {
    background-color: #007459;
    box-shadow: 0 4px 10px rgba(195, 195, 195, 0.1);
    transform: translateY(-2px);
  }
}

input {
  width: 100%;
}

::ng-deep .p-autocomplete-panel,
::ng-deep .p-dropdown-panel {
  overflow: auto;
  z-index: 1050 !important;
  width: 100% !important;
}
