<p-fieldset [toggleable]="true" [collapsed]="false" class="contact-card">
  <ng-template pTemplate="header">
    <div class="contact-header">
      <div class="avatar">
        <p-avatar
          [label]="getFirstLetterAsImage(propertyRecord.contact.firstname)"
          styleClass="mr-2"
          size="large"
          shape="circle"
        />
      </div>
      <div class="contact-name">
        <h3>
          {{ propertyRecord.contact.firstname }}
          {{ propertyRecord.contact.lastname }}
        </h3>
      </div>
    </div>
  </ng-template>

  <div class="contact-details">
    <div class="detail-item">
      <i class="pi pi-phone"></i>
      <span>{{ propertyRecord.contact.phone || "empty" }}</span>
    </div>
    <div class="detail-item">
      <i class="pi pi-envelope"></i>
      <span>{{ propertyRecord.contact.email || "empty" }}</span>
    </div>
    <div class="detail-item">
      <i class="pi pi-stopwatch"></i>
      <span
        >{{ propertyRecord.startAt | date : defaultDateForm }} -
        {{ propertyRecord.endAt | date : defaultDateForm }}</span
      >
    </div>
  </div>
</p-fieldset>
