<p-fieldset [toggleable]="true" [collapsed]="false" class="contact-card">
  <ng-template pTemplate="header">
    <div class="contact-header">
      <div class="avatar">
        <p-avatar
          [label]="getFirstABC(contact?.firstname ?? '^_^')"
          styleClass="mr-2"
          size="large"
          shape="circle"
        />
      </div>
      <div class="contact-name">
        <h3>{{ contact?.firstname }} {{ contact?.lastname }}</h3>
      </div>
    </div>
  </ng-template>

  <div class="contact-details">
    <div class="detail-item">
      <i class="pi pi-phone"></i>
      <span>{{ contact?.phone || "empty" }}</span>
    </div>
    <div class="detail-item">
      <i class="pi pi-envelope"></i>
      <span>{{ contact?.email || "empty" }}</span>
    </div>
  </div>
</p-fieldset>
